body{ margin:0;
	 padding:0;
	 box-sizing: border-box;
	 background-image: url(images/fond\ 3.png);
	 text-align: center;
}

header {
	position: fixed;
	width: 100%;
	background-color: #000000; 
	opacity: 0.8;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  header a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	padding: 10px 20px;
  }
  
  header a:hover {
	color: orange;
	border-bottom: 2px solid gold;
  }

  .àpropos {
    text-align: center;
	color: rgb(0, 0, 0);
	padding: 150px 20px;
  }
  .àpropos h1 {
	font-size: 50px;
	margin: 0;
  }


.text {
	color: rgb(0, 0, 0);
	padding: 30px 20px;
	font-size: x-large;
	text-align: justify;
	width: 50%;
	margin-left: 450px;
	border: 2px solid black;
	
  }

button {
	padding: 10px 20px;
	margin: 5px;
	font-size: 16px;
	cursor: pointer;
	align-items: center;
	
}

button img {
	width: 30%;
	height: auto;
	max-width: 30px;
	max-height: 30px;

	
}

footer {
	background-color: #2c3e50;
	color: #ecf0f1;
	text-align: center;
	padding: 20px 0;
	
  }
  
  footer h2 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  footer nav a {
	color: #ecf0f1;
	text-decoration: none;
	margin: 0 10px;
  }
  
  footer nav a:hover {
	color: #3498db;
  }
  
  footer p {
	font-size: 14px;
	margin-bottom: 10px;
  }
  
  footer p a {
	color: #ecf0f1;
	text-decoration: none;
  }
  
  footer p a:hover {
	color: #3498db;
  }
  
  footer .social-icons a {
	font-size: 18px;
	color: #ecf0f1;
	text-decoration: none;
	margin: 0 10px;
  }
  
  footer .social-icons a:hover {
	color: #3498db;
  }
  
  footer .droit {
	font-size: 12px;
	margin-top: 10px;
	border-top: 1px solid #7f8c8d;
	padding-top: 10px;
  }
  



  